[Unit]
Description=Micra Pro Frontend Client as Caged Chromium Browser Session
After=frontend-server.service systemd-user-sessions.service
Before=graphical.target
ConditionPathExists=/dev/tty0
Wants=dbus.socket systemd-logind.service
After=dbus.socket systemd-logind.service
Conflicts=getty@%i.service
After=getty@%i.service

[Service]
Type=simple
ExecStart=/usr/bin/cage -- /usr/bin/chromium --app=http://localhost:3000 --kiosk --start-fullscreen --start-maximized --fast --fast-start --no-sandbox --no-first-run --noerrdialogs -->
ExecStartPost=+sh -c "tty_name='%i'; exec chvt $${tty_name#tty}"
Restart=always
User=micra
UtmpIdentifier=%I
UtmpMode=user
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty-fail
PAMName=cage

[Install]
WantedBy=graphical.target
DefaultInstance=tty7
