[Unit]
Description=Micra Pro Frontend Server
After=updater.service

[Service]
Type=simple
PIDFile=/run/lighttpd.pid
ExecStartPre=/usr/sbin/lighttpd -tt -f /usr/lib/micra-pro/server-config/frontend-server.conf
ExecStart=/usr/sbin/lighttpd -D -f /usr/lib/micra-pro/server-config/frontend-server.conf
ExecReload=/bin/kill -USR1 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
